* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}


body {
  background-color: rgb(0, 242, 255);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 1px;
   overflow: hidden;
   box-shadow: 0px 2px 64px rgba(0,0,0 0.2);
}


.display {
padding: 19px;
text-align: right;
background-color: rgb(45, 41, 41);
color: #fff;
font-size: 40px;
font-weight: 300;

}

.display span {
  font-size: 18px;
  color: #888;
  color: aquamarine;
}

button{
  appearance: none;
 border: none;
 outline: none;
 color: #fff;
 font-size: 23px;
 padding: 20px;
 cursor: pointer;
 transition: 0.4s;
 color: black;
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;

} 

.operators button {
  flex: 1 1 0%;
  background-color: rgb(153, 241, 111);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: rgb(192, 242, 192);
}
